<br>
<h2>{{ title }}</h2>

<div class="container">
  <div class="column mt-3">
    Input ID of Model used to make Prediction
    <div>
      <input class="textBox" type="text" (keyup)="getModelId($event)">
    </div>
  </div>

  <div class="column mt-3">
    Input ID of Prediction to delete
    <div>
      <input class="textBox" type="text" (keyup)="getImageId($event)">
    </div>
  </div>

  <div class="column mt-3">
    <button (click)="this.deletePrediction()" type="button" class="btn btn-primary mt-3">Confirm</button>
  </div>

  <div *ngIf="response">
    <br><br>
    Response: {{ response }}
  </div>
</div>
