<button mat-button routerLink="">
  <div class="valign-center">
    Home
  </div>
</button>

<button mat-button [matMenuTriggerFor]="models">
  <div class="valign-center">
    <span>Models</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</button>

<button mat-button [matMenuTriggerFor]="predictions">
  <div class="valign-center">
    <span>Predictions</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</button>

<!-- <button mat-button routerLink="about">
  <div class="valign-center">
    About
  </div>
</button> -->

<mat-menu #models="matMenu">
  <button mat-menu-item routerLink="model/all">View Available Models</button>
  <button mat-menu-item routerLink="model/load">Add New Model</button>
  <button mat-menu-item routerLink="model?id=:id">Get Details of Model by ID</button>
  <button mat-menu-item routerLink="model/delete?id=:id">Delete Model By ID</button>
  <button mat-menu-item routerLink="model/delete/all">Delete All Models</button>
</mat-menu>

<mat-menu #predictions="matMenu">
  <button mat-menu-item routerLink="model/:modelId/predict">Submit new MRI for Assessment</button>
  <button mat-menu-item routerLink="model/:modelId/predict/random">View Random MRI</button>
  <button mat-menu-item [matMenuTriggerFor]="randomMRI">View Random MRI by Impairment</button>
  <button mat-menu-item routerLink="model/:modelId/predict/delete?id=:id">Delete MRI Prediciton Data by ID</button>
</mat-menu>

<mat-menu #randomMRI="matMenu">
  <button mat-menu-item routerLink="model/:modelId/predict/random/No%20Impairment" >No Impairment</button>
  <button mat-menu-item routerLink="model/:modelId/predict/random/Very%20Mild%20Impairment" >Very Mild Impairment</button>
  <button mat-menu-item routerLink="model/:modelId/predict/random/Mild%20Impairment" >Mild Impairment</button>
  <button mat-menu-item routerLink="model/:modelId/predict/random/Moderate%20Impairment" >Moderate Impairment</button>
</mat-menu>
