<button mat-button routerLink="">
  <div class="valign-center">
    Home
  </div>
</button>

<button mat-button [matMenuTriggerFor]="models">
  <div class="valign-center">
    <span>Models</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</button>

<button mat-button [matMenuTriggerFor]="predictions">
  <div class="valign-center">
    <span>Predictions</span>
    <i class="material-icons">arrow_drop_down</i>
  </div>
</button>

<!-- <button mat-button routerLink="about">
  <div class="valign-center">
    About
  </div>
</button> -->

<br>
<br>
<br>

<mat-menu #models="matMenu">
  <button mat-menu-item routerLink="model/all">Choose Active Model</button>
  <button mat-menu-item routerLink="model/load">Add New Model</button>
  <button mat-menu-item routerLink="model">Get Details of Active Model</button>
  <button mat-menu-item routerLink="model/delete">Delete Active Model</button>
  <button mat-menu-item routerLink="model/delete/all">Delete All Models</button>
</mat-menu>

<mat-menu #predictions="matMenu">
  <button mat-menu-item routerLink="model/predict">Submit new MRI for Assessment</button>
  <button mat-menu-item routerLink="model/predict/random">View Random MRI</button>
  <button mat-menu-item [matMenuTriggerFor]="randomMRI">View Random MRI by Impairment</button>
  <button mat-menu-item routerLink="model/predict/get">Get MRI by ID</button>
  <button mat-menu-item routerLink="model/predict/delete">Delete MRI Prediction Data by ID</button>
</mat-menu>

<mat-menu #randomMRI="matMenu">
  <button mat-menu-item routerLink="model/predict/random/No Impairment" >No Impairment</button>
  <button mat-menu-item routerLink="model/predict/random/Very Mild Impairment" >Very Mild Impairment</button>
  <button mat-menu-item routerLink="model/predict/random/Mild Impairment" >Mild Impairment</button>
  <button mat-menu-item routerLink="model/predict/random/Moderate Impairment" >Moderate Impairment</button>
</mat-menu>

<!--TBD , create one button per prediction -->
<!-- <mat-menu #mriPredictions="matMenu">
  <button mat-menu-item routerLink="model/predict/delete"></button>
</mat-menu> -->
